a {
  color: inherit;
  text-decoration: none;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: white; /* you can replace it with your specific color value */
  height: 130px;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 20px;
  width: 350px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.titleText {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  width: 180px;
}

.colorText {
  font-size: 16px;
  text-align: right;
  width: 180px;
  margin-top: 5px;
}

.releaseDateText {
  font-size: 16px;
  text-align: right;
  width: 180px;
  margin-top: auto;
  color: #a1a1a1;
}
